.dub
docs.json
__dummy.html
docs/
/my_next_d_project
my_next_d_project.so
my_next_d_project.dylib
my_next_d_project.dll
my_next_d_project.a
my_next_d_project.lib
my_next_d_project-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
